@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
}

body{
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container{
    color: white;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    width: 250px;
    height: 250px;
    background-color: white;
    color: black;
    margin-left: 10px;
    font-size: 100px;
    padding: 10px;
    font-weight: 450;
    justify-content: center;
    border-radius: 15px;
}

.ampm-box{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    margin-left: 10px;
    font-size: 50px;
    padding: 10px;
    font-weight: bold;
    justify-content: center;
    border-radius: 10px ;
}

.hrs-min-sec{
    background-color: #3E57D8;
    color: white;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 30px;
    width: 100%;
    font-weight: 300;

}

#hrs{
    display: flex;
    justify-content: center;  
    align-items: center;
}

#min{
    display: flex;
    justify-content: center;  
    align-items: center;
}

#sec{
    display: flex;
    justify-content: center;  
    align-items: center;
}

#am-pm{
    display: flex;
    justify-content: center;  
    align-items: center;
}